* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body.dark {
  background: #111;
  color: white;
}

.top-bar {
  background-color: red;
  position: fixed;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* padding: 1px 1px; */
  width: 100%;
  /* margin-bottom: 100px; */
  z-index: 1000;
}

/* HIDE CHECKBOX */
#sidebarToggle {
  display: none;
}

/* OPEN BUTTON */
.open-btn {
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
}

/* SIDEBAR BASE */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #fff;
  border-right: 2px solid #ddd;
  transition: 0.3s;
  overflow-y: auto;
  /* SCROLL ENABLED */
  z-index: 1000;
}

body.dark .sidebar {
  background: #222;
  border-color: #444;
}

/* SHOW SIDEBAR WHEN CHECKED */
#sidebarToggle:checked~.sidebar {
  left: 0;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#sidebarToggle:checked~.overlay {
  opacity: 1;
  pointer-events: auto;
}

/* CLOSE BUTTON */
.close-btn {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* PROFILE SECTION */
.sidebar-header {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.username {
  margin-top: 10px;
}

/* MENU ITEMS */
.menu a {
  display: block;
  padding: 15px 20px;
  color: #070707;
  text-decoration: none;
  border-bottom: 1px solid #494444;
}

body.dark .menu a {
  color: #fff;
  border-color: #4f4c4c;
}

.menu a:hover {
  background: #bb0808;
}

body.dark .menu a:hover {
  background: #f20000;
}

/* DARK MODE BUTTON */
.dark-btn {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 22px;
  padding: 10px;
  border: none;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2000;
}

body.dark .dark-btn {
  background: #444;
  color: white;
}

p {
  margin-left: 100px;
  color: aqua;
}